.row.gl-mt-3.gl-mb-3
  .col-lg-3
    %h4.gl-mt-0
      = _('Recent Deliveries')
    %p= _('When an event in GitLab triggers a webhook, you can use the request details to figure out if something went wrong.')
  .col-lg-9
    = render partial: 'shared/hook_logs/recent_deliveries_table', locals: { hook: hook, hook_logs: hook_logs }
